@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:ital,wght@0,300;0,500;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100%;
  min-height: min-content; }

main {
  width: 100%;
  height: min-content;
  font-family: 'Roboto', sans-serif;
  background-color: white; }
  main h3 {
    font-size: 20px;
    padding: 0 0px 0px 20px;
    color: #2660cc; }
  main p {
    font-size: 16px;
    padding: 5px 10px 0px 25px;
    color: #004ad4;
    text-align: justify; }

.banner {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/mainbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 100%;
  height: 400px; }

.unicOne {
  font-size: 25px;
  padding: 15px 0 0px 15px;
  color: #6494ed;
  text-shadow: 0 3px 3px rgba(8, 8, 8, 0.712); }

.find {
  padding: 20px;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0px solid #41414127;
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.212); }
  .find h4 {
    color: #6494ed;
    text-shadow: 0 3px 3px rgba(8, 8, 8, 0.281);
    font-size: 18px; }
  .find a {
    text-decoration: none;
    color: white;
    margin: 10px; }
  .find img {
    margin: 30px; }

.findst {
  color: #6494ed; }

main {
  display: flex;
  flex-direction: column; }
  main h1 {
    font-size: 25px;
    padding: 15px 0 0px 15px;
    color: #6494ed;
    text-shadow: 0 3px 3px rgba(8, 8, 8, 0.712); }
  main h2 {
    font-size: 20px;
    padding: 0 0px 0px 20px;
    color: #2660cc; }
  main button {
    margin-left: 40px;
    margin-top: 20px; }
  main p {
    color: #0075ff; }

.searchSt {
  background: linear-gradient(rgba(255, 255, 255, 0.541), white), url(../../assets/img/meetstudents.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  left: 0px;
  width: 100%;
  height: 380px;
  padding: 20px; }

.searchCit {
  background: linear-gradient(rgba(255, 255, 255, 0.541), white), url(../../assets/img/meetcitizen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 380px;
  padding: 20px; }

header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 0px solid #41414127;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.212);
  position: sticky;
  top: 0; }

.logo {
  width: 260x;
  height: 60px;
  margin-left: 10px;
  display: flex;
  align-items: center; }
  .logo img {
    width: 60px;
    height: 60px; }
  .logo h1 {
    font-size: 20px;
    font-family: 'Norican', cursive;
    color: cornflowerblue;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.349); }

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 260px);
  height: 80px; }

.menuHamb {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 2px solid cornflowerblue;
  border-radius: 6px;
  padding: 6px;
  margin-right: 7px;
  background: transparent;
  justify-content: space-evenly; }
  .menuHamb div {
    background: cornflowerblue;
    height: 2px;
    width: 100%;
    border-radius: 5px; }

.input {
  display: none; }

.list {
  position: fixed;
  top: 80px;
  right: 0;
  width: 40%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  display: none; }
  .list li {
    list-style: none; }
    .list li:last-child {
      padding-bottom: 81px; }
  .list a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif; }

.input:checked + .list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0; }

footer {
  position: relative;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: min-content;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "support socialmedia";
  justify-content: space-evenly;
  padding: 10px; }
  footer h2 {
    font-size: 14px;
    color: cornflowerblue; }
  footer ul {
    list-style-type: none; }
  footer a {
    color: grey;
    text-decoration: none;
    font-size: 12px; }

.support {
  grid-area: support; }

.socialmedia {
  grid-area: socialmedia; }
  .socialmedia ul {
    display: flex;
    flex-wrap: wrap; }
  .socialmedia img {
    margin: 5px; }

.cta {
  margin: 20px 50px;
  position: relative;
  padding: 8px 10px;
  margin-left: 30px;
  transition: all 0.2s ease;
  border: none;
  background: none; }

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 25px;
  height: 30px;
  transition: all 0.3s ease; }

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #0026ff; }

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease; }

.cta:hover:before {
  width: 100%;
  background: #b1dae7; }

.cta:hover svg {
  transform: translateX(0); }

.cta:active {
  transform: scale(0.95); }

.icon-btn {
  margin: 30px 0 15px 0;
  width: 150px;
  height: 150px;
  border: 0px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  background-color: cornflowerblue; }

.btn1 {
  background-image: url(../../assets/logos/findstudents.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

.btn2 {
  background-image: url(../../assets/logos/location.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

.btn3 {
  background-image: url(../../assets/logos/event.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

/*
.add-btn1:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/meetstudents.jpg);
    background-size: cover;
    background-position-y: 10%;
}
.add-btn2:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/meetcitizen.jpg);
    background-size: cover;
    background-position: top;
}
.add-btn3:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/findevents.jpg);
    background-size: cover;
    background-position: center;
}
*/
