@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:ital,wght@0,300;0,500;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100%;
  min-height: min-content; }

main {
  width: 100%;
  height: min-content;
  font-family: 'Roboto', sans-serif;
  background-color: white; }
  main h2 {
    font-size: 20px;
    padding: 0 0px 0px 20px;
    color: #2660cc; }
  main h3 {
    font-size: 20px;
    padding: 0 0px 0px 20px;
    color: #2660cc; }
  main p {
    font-size: 16px;
    padding: 5px 10px 0px 25px;
    color: #004ad4;
    text-align: justify; }

.banner {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/mainbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 100%;
  height: 400px; }

.find {
  padding: 20px;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0px solid #41414127;
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.212); }
  .find h4 {
    color: #6494ed;
    text-shadow: 0 3px 3px rgba(8, 8, 8, 0.281);
    font-size: 18px; }
  .find a {
    text-decoration: none;
    color: white;
    margin: 10px; }
  .find img {
    margin: 30px; }

.findst {
  color: #6494ed; }

.aboutUs {
  background-image: url(../assets/img/aboutus.png);
  width: 100%;
  height: 600px;
  padding: 20px; }
  .aboutUs p {
    color: cornflowerblue; }

.contact {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 100%;
  height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact fieldset {
    border: 0; }
  .contact legend {
    text-align: center;
    color: #0075FF; }
  .contact div {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #0075FF; }
  .contact button {
    margin: 10px 0;
    padding: 2px; }

.formCo input {
  margin: 2px;
  border: 0;
  border-radius: 2px;
  border-bottom: 1px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }
  .formCo input::placeholder {
    color: rgba(0, 89, 255, 0.452); }
  .formCo input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer; }

.area {
  display: flex;
  flex-direction: column; }
  .area textarea {
    border: 0;
    border-radius: 2px;
    border-bottom: 1px solid #41414127;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }
    .area textarea::placeholder {
      margin: 2px;
      padding: 12px;
      color: rgba(0, 89, 255, 0.452);
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px; }

main {
  display: flex;
  flex-direction: column; }
  main h1 {
    font-size: 25px;
    padding: 15px 0 0px 15px;
    color: #6494ed;
    text-shadow: 0 3px 3px rgba(8, 8, 8, 0.712); }
  main h2 {
    font-size: 20px;
    padding: 0 0px 0px 20px;
    color: #2660cc; }
  main button {
    margin-left: 40px;
    margin-top: 20px; }
  main p {
    color: #0075ff; }

.searchSt {
  background: linear-gradient(rgba(255, 255, 255, 0.541), white), url(../../assets/img/meetstudents.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  left: 0px;
  width: 100%;
  height: 380px;
  padding: 20px; }

.searchCit {
  background: linear-gradient(rgba(255, 255, 255, 0.541), white), url(../../assets/img/meetcitizen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 380px;
  padding: 20px; }

.search {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 100%;
  height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .search fieldset {
    border: 0; }
  .search legend {
    text-align: center;
    color: #0075FF; }
  .search div {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #0075FF; }
  .search button {
    margin: 10px 0;
    padding: 2px; }

.contain {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */ }

.startData input {
  margin: 2px;
  border: 0;
  border-radius: 2px;
  border-bottom: 1px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }
  .startData input::placeholder {
    color: rgba(0, 89, 255, 0.452); }
  .startData input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer; }
  .startData input select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px; }

.selectBox {
  font-size: 16px;
  margin: 20px auto;
  border: 1px solid #d9d9d9;
  height: 50px;
  width: 80%;
  overflow: hidden;
  position: relative; }
  .selectBox::after {
    content: "\025be";
    display: table-cell;
    text-align: center;
    padding-top: 7px;
    width: 30px;
    height: 30px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none; }

.signUp {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 100%;
  height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .signUp fieldset {
    border: 0; }
  .signUp legend {
    text-align: center;
    color: #0075FF; }
  .signUp div {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #0075FF; }
  .signUp button {
    margin: 10px 0;
    padding: 2px; }

.contain {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */ }

.fb {
  background-color: #3B5998;
  color: white; }

.google {
  background-color: #dd4b39;
  color: white; }

.registerBox input {
  margin: 2px;
  border: 0;
  border-radius: 2px;
  border-bottom: 1px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }
  .registerBox input::placeholder {
    color: rgba(0, 89, 255, 0.452); }
  .registerBox input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer; }

.alreadyLog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .alreadyLog input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    padding: 10px 25px; }

.logIn {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 100%;
  height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .logIn fieldset {
    border: 0; }
  .logIn legend {
    text-align: center;
    color: #0075FF; }
  .logIn div {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #0075FF; }
  .logIn button {
    margin: 10px 0;
    padding: 2px; }

.containLog {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */ }

.fb {
  background-color: #3B5998;
  color: white; }

.google {
  background-color: #dd4b39;
  color: white; }

.logData input {
  margin: 2px;
  border: 0;
  border-radius: 2px;
  border-bottom: 1px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212); }
  .logData input::placeholder {
    color: rgba(0, 89, 255, 0.452); }
  .logData input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer; }

.notLog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .notLog input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    padding: 10px 25px; }

header {
  width: 100%;
  height: 80px;
  padding: none;
  margin: none;
  background-color: white;
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center;
  border-bottom: 0px solid #41414127;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.212);
  position: sticky;
  top: 0; }

.logo {
  width: 260px;
  height: 60px;
  padding: none;
  margin: none;
  margin-left: 10px;
  display: flex;
  align-items: center; }
  .logo img {
    width: 60px;
    height: 60px;
    padding: none;
    margin: none; }
  .logo h2 {
    font-size: 20px;
    font-family: 'Norican', cursive;
    color: cornflowerblue;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.349); }

.navBar {
  display: flex;
  flex-direction: none;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 260px);
  height: 80px; }

.menuHamb {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
  width: 3rem;
  height: 3rem;
  padding: 6px;
  margin: none;
  border: 2px solid cornflowerblue;
  border-radius: 6px;
  margin-right: 7px;
  background: transparent; }
  .menuHamb div {
    background: cornflowerblue;
    width: 100%;
    height: 2px;
    padding: none;
    margin: none;
    border-radius: 5px; }

.input {
  display: none; }

.list {
  position: fixed;
  top: 80px;
  right: 0;
  width: 40%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  display: none; }
  .list li {
    list-style: none; }
    .list li:last-child {
      padding-bottom: 81px; }
  .list a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif; }

.input:checked + .list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0; }

footer {
  position: relative;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: min-content;
  padding: 10px;
  margin: 0;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: space-evenly;
  align-items: none;
  grid-template-areas: "support socialmedia"; }
  footer h2 {
    font-size: 14px;
    color: cornflowerblue; }
  footer ul {
    list-style-type: none; }
  footer a {
    color: grey;
    text-decoration: none;
    font-size: 12px; }

.support {
  grid-area: support; }

.socialmedia {
  grid-area: socialmedia; }
  .socialmedia ul {
    display: flex;
    flex-wrap: wrap; }
  .socialmedia img {
    margin: 5px; }

.cta {
  margin: 20px 50px;
  position: relative;
  padding: 8px 10px;
  margin-left: 30px;
  transition: all 0.2s ease;
  border: none;
  background: none; }

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 25px;
  height: 30px;
  transition: all 0.3s ease; }

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #0026ff; }

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease; }

.cta:hover:before {
  width: 100%;
  background: #b1dae7; }

.cta:hover svg {
  transform: translateX(0); }

.cta:active {
  transform: scale(0.95); }

.icon-btn {
  margin: 30px 0 15px 0;
  width: 150px;
  height: 150px;
  border: 0px solid #41414127;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  background-color: cornflowerblue; }

.btn1 {
  background-image: url(../../assets/logos/findstudents.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

.btn2 {
  background-image: url(../../assets/logos/location.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

.btn3 {
  background-image: url(../../assets/logos/event.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

/*
.add-btn1:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/meetstudents.jpg);
    background-size: cover;
    background-position-y: 10%;
}
.add-btn2:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/meetcitizen.jpg);
    background-size: cover;
    background-position: top;
}
.add-btn3:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/findevents.jpg);
    background-size: cover;
    background-position: center;
}
*/
