footer{
    position: relative;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    @include dimention(100%,min-content,10px,0);
    background-color: white;
    @include grid(2,1,space-evenly,none);
    grid-template-areas: 
    "support socialmedia"
    ;
    h2{
        font-size: 14px;
        color: cornflowerblue;
    }
    ul{
        list-style-type: none;
    }
    a{
        color: grey;
        text-decoration: none;
        font-size: 12px;
    }
}
.support{
    grid-area: support;
}
.socialmedia{
    grid-area: socialmedia;
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        margin: 5px;
    }
}