main{
    @include dimention(100%,min-content,none,none);
    font-family: 'Roboto', sans-serif;
    background-color: white;
    h2 {
        font-size: 20px;
        padding: 0 0px 0px 20px;
        color: rgb(38, 96, 204);
    }
    h3{
        font-size: 20px;
        padding: 0 0px 0px 20px;
        color: rgb(38, 96, 204);
    }
    p{
        font-size: 16px;
        padding: 5px 10px 0px 25px;
        color: rgb(0, 74, 212);
        text-align: justify;
    }
}
.banner{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../../assets/img/mainbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    @include dimention(100%,400px,none,none);

}
.find{
    @include dimention(100%,min-content,20px,none);
    @include flex(column,none,center);
    border-top: 0px solid #41414127;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.212);
    h4{
        color: rgb(100, 148, 237);
        text-shadow: 0 3px 3px rgba(8, 8, 8, 0.281);
        font-size: 18px;
    }
    a{
        text-decoration: none;
        color: rgba(256, 256, 256, 01);;
        margin: 10px;
    }
    img{
        margin: 30px;
    }
}
.findst{
    color: rgb(100, 148, 237);

}