.search{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../../assets/img/signup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    @include dimention(100%,860px,none,none);
    @include flex(column,center,center);
    text-align: center;
    fieldset{
        border:0;
    }
    legend{
        text-align: center;
        color: #0075FF;

    }
    div{

        margin:10px;
        padding:5px;
        text-align: center;
        color: #0075FF; 
    }
    button{
        margin:10px 0;
        padding: 2px;
    }
}
.contain{
    width: 70%;
    @include flex(column,center,center);
    border-bottom: 0px solid #41414127;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
}
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
.startData{
    input{
        margin:2px;
        border:0;
        border-radius: 2px;
        border-bottom: 1px solid #41414127;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
        &::placeholder{
            color:rgba(0, 89, 255, 0.452)
        }
        &[type=submit] {
            background-color: #04AA6D;
            color: white;
            cursor: pointer;
        }
        select {
            background: transparent;
            border: none;
            font-size: 14px;
            height: 30px;
            padding: 5px;
            width: 250px;
         }
    }

}
.selectBox{
    font-size: 16px;
    margin:20px auto;        
    border:1px solid #d9d9d9;
    height:50px;
    width: 80%;
    overflow: hidden;
    position:relative;


    &::after{
    content:"\025be";
     display:table-cell;
     text-align:center;
     padding-top:7px;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;
     pointer-events: none;     
    }
}