.cta {
    margin:20px 50px;
    position: relative;
    padding: 8px 10px;
    margin-left: 30px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 25px;
    height: 30px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #0026ff;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.icon-btn {
    margin:30px 0 15px 0;
    width: 150px;
    height: 150px;
    border: 0px solid #41414127;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    background-color: cornflowerblue;
}
.btn1{
    background-image: url(../../assets/logos/findstudents.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

}
.btn2{
    background-image: url(../../assets/logos/location.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

}
.btn3{
    background-image: url(../../assets/logos/event.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
/*
.add-btn1:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/meetstudents.jpg);
    background-size: cover;
    background-position-y: 10%;
}
.add-btn2:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/meetcitizen.jpg);
    background-size: cover;
    background-position: top;
}
.add-btn3:hover {
    width: 300px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../assets/img/findevents.jpg);
    background-size: cover;
    background-position: center;
}
*/

